@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    font-family: 'Noto Sans Kr', serif;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#header {
    background-color: black;
    color: white;
    font-weight: 400;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title{
    padding: 10px;
    font-family: 'Impact', sans-serif;
    font-size: 80px;
    color: #E50914;
    font-weight: bold;
}

.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.search-container {
    display: flex;
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#search-type {
    font-size: 15px;
    border: none;
    padding: 0 3px;
    flex: 1;
    border-right: 2px solid #ccc;
}

#movie-search {
    width: 100%;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    flex: 4;
}

#bookmark {
    cursor: pointer;
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    font-family:sans-serif;
    font-size: 13px;
}

#main {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-header{
    margin-left: 40px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    padding: 0 16px;
}

#movie-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 16px; 
    padding: 16px;
}

.movie-item {
    width: 270px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
}

.movie-item:hover {
    transform: translateY(-5px); 
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.3);
}

.movie-image {
    width: 100%; 
    height: 385px;
    object-fit: cover; 
}

.movie-title {
    font-size: 20px;
    margin: 8px 0;
    font-weight: bold;
}

.movie-rate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    margin: 8px auto; 
    overflow: hidden; 
    position: relative;
}

.stars {
    height: 100%; 
    background: url('fill-star.png') repeat-x; 
    background-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
}


.hidden {
    display: none;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 반투명 배경 */
    z-index: 100;
}

.modal-content-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 101;
    width: 600px;
    max-height: 80vh; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.modal-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.modal-bookmark-btn{
    position: relative;
    top: 3px;
    font-size: 30px;
    cursor: pointer;
}

.modal-close-btn {
    font-size: 30px;
    color: rgb(114, 114, 114);
    cursor: pointer;
}

.modal-close-btn:hover {
    color: black;
}

.modal-item {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.modal-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.modal-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
}

.modal-content {
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
    color: #555;
    overflow-wrap: break-word;
}

.modal-date,
.modal-rate {
    margin-top: 10px;
    font-size: 18px;
    color: #777;
}
